<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Beranda</a></li>
            <li><a href="{{ url_for('hobi') }}">Hobi</a></li>
            <li><a href="{{ url_for('pekerjaan') }}">Pekerjaan</a></li>
            <li><a href="{{ url_for('kontak') }}">Kontak</a></li>
            <li><a href="{{ url_for('pendidikan') }}">Pendidikan</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
