{% extends "base.html" %}

{% block content %}
    <h1>Selamat Datang di Website Tugas</h1>
    <h5>MADE BY AZZURI PUTRA MAHENDRA</h5>
    <div class="content-box">
        <p>Ini adalah laman yang menceritakan soal teman saya, namanya FEBRIAN CRESPO PINONTOAN.</p>
        <p>Ini katanya: Halo,nama saya febrian.Saat ini,saya seorang mahasiswa di Universitas Negeri Manado yang mengambil jurusan Teknik Informatika.Saya sangat tertarik dengan Perancangan aplikasi/web,dan aktif berpartisipasi dalam berbagai kegiatan di kampus.Selain kuliah,saya juga menikmati hobi saya,seperti berolahraga,membaca, yang membantu saya menjaga keseimbangan antara studi dan rekreasi.Saya berharap pengalaman ini dapat mempersiapkan saya untuk masa depan yang lebih baik. Terima kasih telah mengenal saya!</p>
    </div>
{% endblock %}
