{% extends "base.html" %}

{% block content %}
    <h1>Pendidikan Saya</h1>
    <div class="content-box">
        <div class="education-container">
            <ul>
                <li><strong>SMP NEGERI 1 LIKUPANG</strong><br>Junior High School<br>2017-2019</li>
                <br></br>
                <li><strong>SMA NEGERI 1 LIKUPANG</strong><br>Senior High School<br>2020-2022</li>
                <br></br>
                <li><strong>UNIVERSITAS NEGERI MANADO</strong><br>TEKNIK INFORMATIKA<br>2022-2026</li>
            </ul>
        </div>
    </div>
{% endblock %}
